:root {
    --font-family: "KoHo", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #a3a7fd;
}

header {
    margin: 0;
    padding: 0;
    width: 1310px;
    height: 100px;
    background: #d6d6d6;
    display: inline-flex;
}

.logo {
    margin-left: 100px;
    margin-top: 21px;
    width: 327px;
    height: 58px;
}

.nav {
    margin-left: 400px;
    padding: 0;
    margin-top: 29px;
    list-style: none;
    font-family: "KoHo", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 42px;

    /* line-height: 29px; */
    line-height: 69%;
    color: #000;

}

.nav>ul {
    padding: 0;
    margin: 0;
    display: inline-flex;
    list-style: none;
    margin-left: 40px;
}

.nav>ul>li {
    padding: 0;
    margin: 0;
    padding-right: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-family: "KoHo", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 42px;

    /* line-height: 29px; */
    line-height: 69%;
    color: #000;

}


.section>ul {
    display: inline-flex;
    list-style: none;
    margin-left: 20px;
}

.card {
    border-radius: 20px;
    width: 380px;
    height: 544px;
    background: #d6d6d6;
    margin-right: 20px;
}

.card_img {
    margin-left: 20px;
    margin-top: 30px;
}

.card_h2 {
    font-family: "KoHo", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 42px;

    /* line-height: 36px; */
    line-height: 86%;
    color: #000;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.card_p {
    font-family: "KoHo", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;

    /* line-height: 29px; */
    line-height: 132%;
    color: #000;

    margin-top: 2px;
    margin-left: 40px;
}

.card_btn {
    border: none;
    border-radius: 20px;
    width: 240px;
    height: 58px;
    background: #a3a7fd;
    margin-bottom: 20px;
    margin-left: 70px;
}
